<%= form_with(model: workshop) do |form| %>
  <% if workshop.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(workshop.errors.count, "error") %> prohibited this workshop from being saved:</h2>

      <ul>
        <% workshop.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, class:"form-label"  %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div>
    <%= form.label :description, class:"form-label"  %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :img, class:"form-label" %>
    <%= form.file_field :img, class: "form-control" %>
  </div>

  <div>
    <%= form.submit "Save and proceed to add time slots" %>
  </div>
<% end %>
