<div id="<%= dom_id workshop %>">
  <p>
    <strong>User:</strong>
    <%= workshop.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= workshop.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= workshop.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= workshop.category %>
  </p>

  <p>
    <strong>Skill level:</strong>
    <%= workshop.skill_level %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= workshop.location %>
  </p>

</div>
