<div class="card mb-3 mt-3" style="width: 18rem;" id="<%= dom_id workshop %>">
  <img class="card-img-top">
    <%= link_to(cl_image_tag(workshop.img.key, crop: :scale, width: 200, cloud_name: ENV['CLOUDINARY_CLOUD_NAME']), workshop) if workshop.img.attached? %>
  </img>
  <div class="card-body">
    <h5 class="card-title"><%= workshop.title %></h5>
    <p class="card-text"><%= workshop.description %></p>
    <p class="card-text"><%= workshop.category %></p>
    <p class="card-text"><%= workshop.skill_level %></p>
    <p class="card-text"><%= workshop.location %></p>
    <p class="card-text"><%= "Sold by #{workshop.user.email}" %></p>
    <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
  </div>
</div>