<div class="container">
  <div class="row">
    <div class="col-6">
      <%= cl_image_tag(@workshop.img.key, crop: :scale ,width: 500, cloud_name: ENV['CLOUDINARY_CLOUD_NAME']) if @workshop.img.attached? %>
    </div>
    <div class="col-6">
      <h3><%= @workshop.title %></h3>
      <p><%= @workshop.description %></p>
      <%# <%= link_to "Buy", new_workshop_order_path(@workshop), class: "btn btn-primary" %> %>
    </div>
  </div>


  <div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to "Back", workshops_path, class: "btn btn-primary" %>
    <% if user_signed_in? && current_user == @workshop.user %>
      <%= link_to "Edit this workshop", edit_workshop_path(@workshop), class: "btn btn-primary" %>
      <%= link_to "Add more timeslots", new_workshop_timeslot_path(@workshop), class: "btn btn-primary" %>
      <%= button_to("Destroy this workshop", @workshop, method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete this workshop" }}, type:'button', class: 'btn btn-danger') %>
    <% end %>
  </div>

  <table class="table table-striped table-bordered">
    <tr>
      <th>Day</th>
      <th>Time</th>
      <th>Price</th>
      <th>Remaining Tickets</th>
      <th>Book!</th>
    </tr>
    <% @timeslots.each do |timeslot| %>
      <tr>
        <td>
          <%= timeslot.day.strftime("%A  %B  %d  %Y") %>
        </td>
        <td>
          <%= "#{timeslot.start_time.strftime("%I:%M%p")} - #{timeslot.end_time.strftime("%I:%M%p")}" %>
        </td>
        <td>
          <%= number_to_currency(timeslot.price) %>
        </td>
        <td>
          <%= timeslot.available_tickets %>
        </td>
        <td>
          <%= link_to "Book", new_timeslot_booking_path(timeslot.id), class: "btn btn-success" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

