<div class="row">
  <div class="col-6">
    <%= cl_image_tag(@workshop.img.key, crop: :scale ,width: 500, cloud_name: ENV['CLOUDINARY_CLOUD_NAME']) if @workshop.img.attached? %>
  </div>
  <div class="col-6">
    <h3><%= @workshop.title %></h3>
    <p><%= @workshop.description %></p>
    <%# <%= link_to "Buy", new_workshop_order_path(@workshop), class: "btn btn-primary" %> %>
  </div>
</div>

<div>
  <%= link_to "Back to workshops", workshops_path, class: "btn btn-link" %> |
  <% if user_signed_in? && current_user == @workshop.user %>
    <%= link_to "Edit this workshop", edit_workshop_path(@workshop), class: "btn btn-link" %>
    <%= button_to("Destroy this workshop", @workshop, method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete this workshop" }}, class: 'btn btn-danger') %>
  <% end %>
</div>
