<%= form_for([@workshop, @timeslot]) do |form| %>
  <% if @timeslot.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@timeslot.errors.count, "error") %> prohibited this timeslot from being saved:</h2>

      <ul>
        <% @timeslot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= "Add new timeslot for #{} workshop" %>
  </div>

  <div class="mb-3">
    <%= form.label :day, class:"form-label" %>
    <%= form.date_field :day, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :start_time, class:"form-label" %>
    <%= form.time_field :start_time, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :end_time, class:"form-label" %>
    <%= form.time_field :end_time, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :price, class:"form-label" %>
    <%= form.text_field :price, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :total_tickets, class:"form-label" %>
    <%= form.number_field :total_tickets, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Save and finish", name:"save_end", class:"btn btn-primary" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Save and add more timeslots", name:"save_continue", class:"btn btn-primary" %>
  </div>
<% end %>
