<div id="<%= dom_id timeslot %>">
  <p>
    <strong>Workshop:</strong>
    <%= timeslot.workshop_id %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= timeslot.day %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= timeslot.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= timeslot.end_time %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= timeslot.price %>
  </p>

  <p>
    <strong>Total tickets:</strong>
    <%= timeslot.total_tickets %>
  </p>

  <p>
    <strong>Available tickets:</strong>
    <%= timeslot.available_tickets %>
  </p>

</div>
