<div id="<%= dom_id timeslot %>" class="mt-3 d-flex flex-column align-items-center">
  <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header"><%= timeslot.workshop.title %></div>
    <div class="card-body">
      
    <p class="card-text">
      <strong>Day: </strong>
      <%= timeslot.day.strftime("%A  %B  %d  %Y") %>
    </p>

    <p class="card-text">
      <strong>Time: </strong>
      <%= "#{timeslot.start_time.strftime("%I:%M%p")} - #{timeslot.end_time.strftime("%I:%M%p")}" %>
    </p>

    <p class="card-text">
      <strong>Price: </strong>
      <%= number_to_currency(timeslot.price) %>
    </p>

    <p class="card-text">
      <strong>Tickets remaining tickets:</strong>
      <%= timeslot.available_tickets %>
    </p>
    </div>
  </div>
</div>
