<p style="color: green"><%= notice %></p>

<%= render @timeslot %>

<div>
  <%= link_to "Edit this timeslot", edit_workshop_timeslot_path(@timeslot.id) %> |
  <%= link_to "Back to timeslots", workshop_timeslots_path %>

  <%= button_to "Destroy this timeslot", workshop_timeslot_path, method: :delete %>
</div>
