<p style="color: green"><%= notice %></p>

<%= render @timeslot %>

<div>
  <%= link_to "Edit this timeslot", edit_timeslot_path(@timeslot) %> |
  <%= link_to "Back to timeslots", timeslots_path %>

  <%= button_to "Destroy this timeslot", @timeslot, method: :delete %>
</div>
