<!DOCTYPE html>
<html>
  <head>
    <title>Rankup</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/header"  %>
    <div class="container">
      <% if notice %>
        <p class="notice alert alert-info mt-3" role="alert"><%= notice.html_safe %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger mt-3" role="alert"><%= alert.html_safe %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
